.audio-player-panel {
    background-color: rgba(240, 240, 240, 0.9);
    backdrop-filter: blur(7px);
    box-shadow: 1px 0px 15px 0 #b8bbbe;
    overflow: hidden;
    width: 100%;
    padding: 0.375em;
    position: fixed;
    bottom: 0;
    z-index: 10000;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.left-component {
    float: left;
}

.right-component {
    float: right;
    vertical-align: middle;
}

.track-info {
    float: left;
}

.track-title {
    font-size: 14px;
    font-weight: bold;
}

.track-artist {
    font-size: 16px;
}

.track-image {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 20px;
}

.media-clickable {
    display: flex;
    align-items: center;
    justify-content: center;

    float: left;
    margin: 0 24px 0 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.5s;
    text-align: center;
    font-size: 18px;
    color: #06c
}

.media-clickable:hover {
    background-color: #bee1f4;
    cursor: pointer;
}
