.collectionActionCard {
    transition: box-shadow 0.2s;
    text-decoration: none;
    color: rgb(21, 21, 21);
    margin-right: 2em;
    margin-bottom: 2em;
    display: flex;
}
.collectionActionCard:hover {
    cursor: pointer;
    outline: 0;
}
.collectionActionCardFiller {
    flex: 1 0 auto;
}
.cardLink {
    text-decoration: none;
    outline: 0;
}
